.form-page {
  width: 100%;
  height: 100vh;

  .ant-form-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 115px;

    .ant-form-item-row {
      flex-direction: column;

      .ant-form-item-control-input {
        width: 380px;
      }

      .ant-form-item-label {
        text-align: unset;
      }

      .ant-form-item-control {
        margin-bottom: 28px;
      }
    }

    .ant-form-horizontal {
      width: 50%;
      margin: 90px auto;
    }
  }
}
